.acs-div-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.acs-div-container1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.acs-div-container2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
