.body {

    font-family: Arial, sans-serif;
    max-width: px;
    margin: 0 auto;
    padding: 20px;
    height: 100VH;
    background-image: url('images/walpaper-2.png');
}

h2 {
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    width: 100%;
    opacity: 0.95
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-container label {
    margin-right: 10px;
}

.input-container input[type="text"],
.input-container input[type="number"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container button {
    margin-left: 10px;
    cursor: pointer;
}

.acs-div-gambar-input{
    width: 100%;
}

.acs-gambar{
    z-index: -1;
}

.W_input{
    position: relative;
}

/* Style untuk input besar */
.input-large {
    width: 1000px;
}

/* Style untuk input sedang */
.input-medium {
    width: 500px;
}

/* Style untuk input kecil (textarea) */
.input-small {
    width: 50px;
}

.button-container {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.button-container button.ord {
    background-color: #737573;
    max-width: 200px;
}

.button-container button.add {
    background-color: #4CAF50;
    max-width: 100px;
}

.button-container button.update {
    background-color: #2196F3;
    max-width: 100px;
}

.button-container button.del {
    background-color: #f44336;
    max-width: 100px;
}


.scrollable-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.form-container {
    max-width: 800px;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
}

.aligned-text {
    margin-right: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 30px;
}

.mt-md-0 {
    margin-top: 0;
}

.text-center {
    text-align: center;
}

.row.justify-content-md-center {
    justify-content: center;
    width:2000px ;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

